.css-4jnixx-MuiStack-root {
    padding-top: 0!important;
    overflow: visible!important;
}

.css-4jnixx-MuiStack-root>.MuiTextField-root {
    min-width: 0!important;
    width: 100%;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 0.375rem 0.75rem!important;
}

.MuiInputLabel-shrink {
    transform: translate(0.8rem, 0rem) scale(0.75)!important; /* Adjust the values as needed */
}